<% description "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed." %>
<% set_meta_tags :open_graph => {
  :title => "#{ENV['title']}",
  :description => "Developers Connect Philippines (DevCon) is a non-proﬁt organization which aims to promote the \"IT Pinoy Talent\" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to Sync, Support and Succeed.",
  :type  => :website,
  :url   => root_url,
  :image => [opengraph_thumb_url, { :width => 200, :height => 200 }]
} %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "logo.png", :title => "Developers Connect", :class => 'long' %>
        <% end %> 
      </h1>
      <p class="blurb"><strong>Developers Connect Philippines (DevCon)</strong> is a non-proﬁt organization which aims to promote the "IT Pinoy Talent" mainly by providing a unique venue for IT students, educators, professionals and enthusiasts to <em>Sync, Support and Succeed.</em></p>
    </div>
  </div>
</div>
<hr>
<div class="row maker-fest">
  <div class="col-md-12">
    <h2>Welcome Maker Festival Manila 2014 Attendees!</h2>

    <p>This is a special offline version of DevCon's official site (http://devcon.ph/). Many of the features are gone, but you can still browse around for information.</p>

    <p>To earn your stamps, just choose among these two activities:</p>

  </div>
</div>
<div class="row maker-fest">
  <div class="col-sm-6">
    <%= image_tag 'jcc_thumb.jpg', :class => "img-thumbnail" %>
    <h3>Java Code Challenge</h3>

    <p>This is a stripped-down version of the Java programming competition that we conduct in some <%= link_to "Campus DevCon Events", events_main_path %>. This app automatically compiles and checks whether the code is correct or not.</p>

    <p>Sign-up and solve 3 (very easy) problems to earn your stamp.<br>Solve 5 or more problems and you'll earn a small prize.</p>

    <p>We recommend you use a laptop for this activity.</p>

    <p><%= link_to "Solve the problems &raquo;".html_safe, root_url + "/jcc", :class => "btn btn-default btn-success btn-lg" %></p>
  </div>
  <div class="col-sm-6">
    <%= image_tag 'gunner.jpg', :class => "img-thumbnail" %>
    <h3>H.A.B.A.G.A.T.</h3>

    <p>This is an extended version of the HTML5 game that we taught in one of our <%= link_to "Code Camps", events_main_path %>. This is a clone of certain type of arcade shooting game.</p>

    <p>Destroy 1250 enemies without dying to earn your stamp.<br>Destroy more 4000 or more and you'll earn a small prize.</p>

    <p>We recommend you use a laptop with a mouse/decent touchpad, or a tablet/mid-range smartphone for this activity.</p>

    <p><%= link_to "Play the game &raquo;".html_safe, root_url + "/habagat", :class => "btn btn-default btn-success btn-lg" %></p>
  </div>
</div>
<hr>
<hr>
<div class="row devise-row">
  <div class="col-sm-3">
    <%= image_tag 'devise-logo.jpg' %>
  </div>
  <div class="col-sm-9">
    <h2>Join the Cause. Make a difference.</h2>
    <p>
      <strong>DevCon Devise</strong> is a national competition that aims to challenge students in solving real world problems with mobile applications. The winning teams will receive more than ₱100,000 worth of cash prizes and freebies from partners.
    </p>
    <p>This year’s theme is <em>Public Safety and Disaster Preparedness</em>.</p>
    <p><a href="http://devise.devcon.ph" class="btn btn-success btn-lg">Learn More &raquo;</a></p>
  </div>
</div>
<hr>
<div class="support-options">
  <div class="row">
    <div class="col-sm-12"><h3>How you can get involved with DevCon:</h3></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'volunteer.jpg', :class => "img-thumbnail" %>
      <h3>Be a Volunteer</h3>
      <p>Pick up new skills and make new friends. We have many volunteer opportunities for students and professionals.</p>
      <p><%= link_to "Volunteer &raquo;".html_safe, volunteer_path, :class => "btn btn-default btn-success btn-lg" %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'teach.jpg', :class => "img-thumbnail" %>
      <h3>Be a Speaker</h3>
      <p>Share your knowledge and experiences in the IT industry through short lightning talks or day-long workshops.</p>
      <p><%= link_to "Teach &raquo;".html_safe, speaker_path, :class => "btn btn-default btn-success btn-lg" %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag 'sponsor.jpg', :class => "img-thumbnail" %>
      <h3>Sponsor Events</h3>
      <p>DevCon events are free and are made possible by the generous support from the community.</p>
      <p><%= link_to "Sponsor &raquo;".html_safe, sponsor_path, :class => "btn btn-default btn-success btn-lg" %></p>
    </div>
  </div>
</div>
<div class="row partner-area">
  <div class="col-sm-12">
    <h2>Platinum Partners</h2>
    <p class="partner-list clearfix">
      <a href="http://www.elance.com/"><%= image_tag "elance-odesk.png", :alt => "Elance.com", :class => 'long' %></a>
      <a href="http://streamenginestudios.com/"><%= image_tag "stream-engine.png", :alt => "Stream Engine Studios", :class => 'long' %></a>
      <a href="http://www.exist.com/"><%= image_tag "exist.png", :alt => "Exist" %></a>
      <a href="http://acale.ph/"><%= image_tag "acaleph.png", :alt => "Acaleph" %></a>
      <a href="http://www.foodpanda.ph/"><%= image_tag "foodpanda.png", :alt => "Foodpanda" %></a>
    </p>
  </div>
</div>
